# Kickstart file to Install Centos 6 x64 
#version=DEVEL
unsupported_hardware
text
install
url --url http://192.168.100.10/centos 
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw  --iscrypted $6$0xiDEePF$99RdU39bkp7X.Dlg74iW9fhhUe2jJijnyVt/8zMJYbAKQJ9DIAAk.cQLHwlGubDvO.WvynfOQvqYhshLMvee8/
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/Chicago
bootloader --location=mbr --driveorder=sda,sdb --append="nomodeset crashkernel=auto rhgb quiet"
# Below is partitioning details. It assumes that you have at least 8GB disk assigned 
# to your VM. 
zerombr
clearpart --drives=sda --all --initlabel
part /boot --size=200 
part swap --recommended
part / --size=6500 
repo --name="CentOS"  --baseurl=http://192.168.100.10/centos --cost=100

#package names or groups go under here
%packages
#@base
@core
#@input-methods
#@network-file-system-client
#mtools
#pax
#oddjob
#sgpio
#device-mapper-persistent-data
#libXmu
#samba
openssh-server

%post 
#custom scripts go under here
%end
